.main__table_container {
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
}

.main__product-detail {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
}
.product__card-container {
    margin: 0 auto;
}

.plans__container-slider {
    justify-content: center;
}
